body{
    background-color: rgb(240, 232, 236);
    padding: 0px !important;
    margin: 0px !important;
    
}
header {
    text-align: center;
    background-color: rgba(37, 2, 37, 0.87);
    color: #fff;
}
footer {
    text-align: center;
    background-color: rgba(37, 2, 37, 0.87);
    color: #fff;
    padding: 1rem;
}
.menu {
    color: #d6d0d0;
    margin-left:  20px;
    font-size: 25px;
    text-decoration: none;
    text-transform:  none;
    

} 
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}
.box1 img{
    display: inline-block;
    margin: 2rem;
}
.box p{
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    padding: 1.5rem;
    font-weight: 100;
}

.outer-container h2{
    margin: rem;
    padding: 2rem;
}
.outer-container2{
   display: flex;
   justify-content: center;
   align-items: center;
}
h2{
    font-family: sans-serif;
    font-weight: 600;
}


